.error{
	/*background-color: #FFC6C6;*/
	border: 1px solid #FF0000 !important;
	-webkit-box-shadow: 1px 3px #FF0000;
	-moz-box-shadow: 1px 3px #FF0000;
	box-shadow: 1px 3px #FF0000;
	color: #393536;
}
.icon-facebook,
.icon-twitter,
.icon-linkedin{
	margin-left: 2px;
	margin-right: 2px;
}
.wcc_lang_active{
	color: #e67924 !important;
}

header .w-header .w-contenido .w-info .w-idioma ul li a.wcc_lang_active {
	color: #e67924 !important;
}

.w-ubicanos .w-text a.w-calle{
	cursor: pointer;
}

.w-ubicanos .w-text a.wcc_active_changmap{
	text-decoration: underline;
	color: #003b7a !important;
}
.hiddenclass{
	opacity: 0;
}

a{
	cursor: pointer;
}